body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Bitter', serif;
}

.text-slanted {
  font-family: 'Open Sans', sans-serif;
}
.text-orange {
  color: orangered;
}
.letter-spacing {
  letter-spacing: 0.5rem;
}